In [8]:
import pandas as pd
import sklearn
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
import matplotlib.pylab as plt

from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

from sklearn.model_selection import GridSearchCV

from sklearn.metrics import classification_report

from sklearn.metrics import r2_score
from math import sqrt

from sklearn.metrics import mean_squared_error

from sklearn.model_selection import train_test_split

import numpy as np

In [9]:
df = pd.read_csv("E:\\Documents\\ASDRP\\NewData\\masterData4.csv", low_memory=False)
df

        age  female  wbhaom  state  educ92  incp_ern
0        76       0       0     19       2         0
1        23       1       0     19       9         0
2        24       0       0     19       6         0
3        17       0       0     19       3         0
4        59       1       2     19       9         0
...     ...     ...     ...    ...     ...       ...
693711   50       1       0      5      10         5
693712   45       1       1     24       5         5
693713   36       0       0     44       9         5
693714   47       0       0     37      15         5
693715   60       0       3      5      15         5

[693716 rows x 6 columns]

In [10]:
X = df[['age','female','wbhaom','state','educ92']]
y = df['incp_ern']

In [14]:
testDF = pd.read_csv("E:\\Documents\\ASDRP\\NewData\\testingData2.csv", low_memory=False)
testX = testDF[['age','female','wbhaom','state','educ92']]
testy = testDF['incp_ern']

In [92]:
model = KNeighborsRegressor().fit(X,y)

pipe = Pipeline([
    ("model", KNeighborsRegressor(n_neighbors=40))
])
#model = KNeighborsClassifier(n_neighbors=5)
pipe.fit(X,y)

Pipeline(steps=[('model', KNeighborsRegressor(n_neighbors=40))])

## pipe.fit(X, y)

In [93]:
pred = pipe.predict(testX)

In [94]:
#for i in range(len(pred)):
 #   pred[i] = round(pred[i], 0)

In [97]:
rSquared = r2_score(testy,pred)

In [98]:
print('R2 score for KNN',rSquared)
print('Root Mean Square error KNN',sqrt(mean_squared_error(testy,pred)))

R2 score for KNN 0.271653551474368
Root Mean Square error KNN 1.3407551118118843

In [99]:
r = sqrt(rSquared)
r

0.5212039442237252